name: Uploading assets to GitHub release
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    uses: ./.github/workflows/build.yaml  # use the callable build job to run build
  release:
    runs-on: ubuntu-latest
    needs: [build]  # require build to pass before deploy runs
    steps:
      - name: Set Package Version
        shell: bash -l {0}
        run: |
          echo "version=$(<VERSION)" >> $GITHUB_ENV
          echo "=== PKG_VERSION=$version ==="

      - name: Download assets from build
        uses: actions/download-artifact@v4
        with:
          name: dist-artifacts
      - name: Release assets
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          files: |
            lg_gcover*.whl
            lg_gcover*.tar.gz